<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Apple iOS 11.3 Emoji List</title>
    <style>
      .emoji-grid {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        padding: 0;
      }
      .search {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        margin: 30px 0;
        font-size: 18px;
      }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="app.js"></script>
  </head>
  <body>
    <div class="container">
    <div class="content">
    <article>
    <header>
      <h1>Apple iOS 11.3</h1>
      <ul>
        <li><strong>Vendor: Apple</li>
        <li><strong>Version:</strong> iOS 11.3</li>
        <li><strong>Release Date:</strong> March 29, 2018</li>
        <li><strong>Emojis:</strong> 2613</li>
      </ul>
      <p>iOS 11.3 was a minor update to the iOS emoji set. The main change in this release is the modification of four emojis used in Apple's separate Animoji feature. First <a href="https://www.apple.com/uk/newsroom/2018/01/apple-previews-ios-11-3/">announced</a> in January&nbsp;2018, this release was finalized in March 2018.</p>
      <p>This emoji release also applied to tvOS 11.3,&nbsp;macOS 10.13.4 and&nbsp;watchOS 4.3.&nbsp;<a href="https://blog.emojipedia.org/ios-11-3-emoji-changelog/">More about this update</a>.</p>
    </header>

    <div id="app">
      <div>
        <input class="search" type="text" v-model="quickSearch" @keyup.enter="filter = quickSearch" placeholder="Search">
      </div>
      <span v-for="emoji in emojiList">
        <img :src="emoji.src" alt="">
      </span>
    </div>

    <section>
  </body>
</html>